{% block head %}

<style>
  
  #navsearchbar{
    width: 550px;
  }

  @media (max-width: 1450px) {
    #navsearchbar{
      width: 480px;
    }
  }
  @media (max-width: 1418px) {
    #navsearchbar{
      width: 460px;
    }
  }

  @media (max-width: 1360px) {
    #navsearchbar{
      width: 350px;
    }
  }
  @media (max-width: 1258px) {
    #navsearchbar{
      width: 310px;
    }
  }
  @media (max-width: 1208px) {
    #navsearchbar{
      width: 250px;
    }
  }
  @media (max-width: 1150px) {
    #navsearchbar{
      width: 190px;
    }
  }
  @media (max-width: 1088px) {
    #navsearchbar{
      width: 130px;
    }
  }
  @media (max-width: 1030px) {
    #navsearchbar{
      width: 50px;
    }
  }
  .navbar-nav  a:hover{
    color: #fe302f !important;

  }
  .cartbtn:hover{
    color: #fe302f !important;

  }
</style>

{% endblock head %}


<nav class="navbar navbar-expand-lg bg-dark navbar-dark w-100" id="navbar">
  <div class="container-fluid ms-5 me-5">
    <a class="navbar-brand" href="../">Ecommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-5 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "home" %}">Home</a>
        </li>
        {% if request.get_full_path != '/contact' %}
        <li>
          <a class="nav-link active" aria-current="page" href="{% url "contact" %}">Contact us</a>
        </li>
        {% endif %}

      </ul>


      <form class="d-flex mx-0" role="search" action="{% url 'productspage' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
          <div class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg></div>
          <input id="navsearchbar" name="searchquery" class="form-control me-2" type="search" placeholder="Search" html = "true" aria-label="Search"  value = "{{query}}" />
        </div>

        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="navbar-nav me-0 ms-auto mb-2 mb-lg-0 d-flex ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Accessories</a></li>
            <li><a class="dropdown-item" href="#">Clothing</a></li>
            <li><a class="dropdown-item" href="#">Healthcare</a></li>
          </ul>
        </li>
        {% if request.get_full_path != '/viewcart' %}

        <li class="nav-item">
          {% if user.is_authenticated%}
          <a class="nav-link active" aria-current="page" href=" {% url 'viewcart' %}">
            <i class="fas fa-cart-shopping"></i> Cart </a>
          {% else %}
          <button type="button" class="nav-link active btn btn-outline-dark cartbtn" data-html="true" data-bs-toggle="popover"
            data-bs-title="Cannot Open Cart"
            data-bs-content="Login to open your Cart! <a class='mt-3 btn btn-success nav-link active mx-2' aria-current='page' href='{% url 'login' %}'>Login</a>">
            <i class="fas fa-cart-shopping me-2"></i>Cart </button>
          {% endif %}
        </li>
        {% endif %}
        </li>
        {% if user.is_authenticated != True and request.get_full_path != '/register' %}
        <li class="nav-item">
          <a class="btn btn-dark nav-link active mx-2 cartbtn " aria-current="page" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        {% comment %} <li class="nav-item">
          <span class="text-light  nav-link">Hello, {{user.name|title}}</span>
        </li> {% endcomment %}
          <li class="nav-item">
          <a class="btn btn-dark nav-link active mx-2" aria-current="page" href={% url "logout" %}>Logout</a>
        </li>
        {% endif %}
          {% if user.is_authenticated != True and request.get_full_path != '/login'  %}
          <li class="nav-item">
            <a class="btn btn-dark 1 nav-link active mx-2" aria-current="page" href="{% url 'login' %}">Login</a>
          </li>
          
          {% endif %}      
        

        
           


      </ul>
    </div>
  </div>
</nav>